<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a routerLink="/introduction">Introducción</a></li>
    <li><a routerLink="/introduction">Instalación</a></li>
    <li><a routerLink="/introduction">Comandos basicos</a></li>
  </ul>
  <p class="menu-label">
    Componentes
  </p>
  <ul class="menu-list">
    <li><a routerLink="/introduction">Creación de componentes</a></li>
    <li><a routerLink="/introduction">Importaciones</a></li>
    <li><a routerLink="/introduction">Comunicación entre componentes</a></li>
    <li><a routerLink="/introduction">Muestra de datos</a></li>
    <li><a routerLink="/introduction">Tablas</a></li>
  </ul>

  <ul class="menu-list">
    <li>
      <a>Formularios</a>
      <ul>
        <li><a routerLink="/introduction">Validaciones</a></li>
        <li><a routerLink="/introduction">Inputs</a></li>
        <li><a routerLink="/introduction">Botones</a></li>
      </ul>
    </li>

    <li><a routerLink="/introduction">Programación Reactiva (RxJS)</a></li>
    <li><a routerLink="/introduction">HTTP y Observables</a></li>
  </ul>
</aside>
