<aside class="menu is-one-fifth">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a routerLink="introduction">Introducción</a></li>
    <li><a routerLink="installation">Instalación</a></li>
    <li>
      <a routerLink="basic-commands">Comandos basicos</a>
    </li>
  </ul>
  <p class="menu-label">
    Componentes
  </p>
  <ul class="menu-list">
    <li><a routerLink="component-creation">Creación de componentes</a></li>
    <li><a routerLink="imports">Importaciones</a></li>
    <li>
      <a routerLink="comunication-components">Comunicación entre componentes</a>
    </li>
    <li><a routerLink="show-data">Muestra de datos</a></li>
    <li><a routerLink="tables">Tablas</a></li>
  </ul>

  <ul class="menu-list">
    <li>
      <a>Formularios</a>
      <ul>
        <li><a routerLink="introduction">Validaciones</a></li>
        <li><a routerLink="introduction">Inputs</a></li>
        <li><a routerLink="introduction">Botones</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="reactive-programming">Programación Reactiva (RxJS)</a>
    </li>
    <li><a routerLink="http-observables">HTTP y Observables</a></li>
  </ul>
</aside>
